autopep8
attrs
backcall
certifi
chardet
decorator
Django
django
django
django
flake8
flake8
flake8
gevent
greenlet
gunicorn
idna
ipython
ipython
jedi
mccabe
mypy
pexpect
pickleshare
Pillow
prompt
psycopg2-binary
ptyprocess
pycodestyle
pyflakes
Pygments
pytz
redis
requests
rope
simplegeneric
six
traitlets
typed
urllib3
wcwidth
Werkzeug

djangorestframework
django-extensions
django-environ
